body{
    font-family: Nunito;
    font-size: 15px;
}
ul#horizontal-list{
    list-style: none;
    text-align: right;
}
ul#horizontal-list li{
    display: inline;
    padding: 6px;
}
button{
    background-color: #EC4067;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#explore{
    background-color: #ffffff;
    color: #EC4067;
    border: solid #EC4067 1px;
}
.heading_color{
    color: #EC4067;
}
.image{
    position: relative;
    margin: 3%;
}
.name{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #ffffff;
}