body{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
ul#horizontal-list{
    list-style: none;
    text-align: right;
}
ul#horizontal-list li{
    display: inline;
    padding: 6px;
}
button{
    background-color: #EC4067;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#explore{
    background-color: #ffffff;
    color: #EC4067;
    border: solid #EC4067 1px;
    margin-left: 10px;
    width: 90px;
}
.heading_color{
    color: #EC4067;
}
.image{
    position: relative;
    margin: 3%;
}
.name{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #ffffff;
}
.nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 30px;
}
.image1{
    float: right;
    width: 70%;
}